:sass
  body
    background-color: #D2322D
  .splash
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    height: 40%
    margin: auto
    text-align: center
  h1
    color: #ffffff
    font-weight: 400
    text-align: center
    font-size: 600%
    text-transform: uppercase
    -webkit-font-smoothing: antialiased
  strong
    font-weight: 900
  span
    text-transform: lowercase

.splash
  %img(src="/assets/images/robot.png")
  %h1 Cameron<strong>Tech</strong><span>.io</span>
