!!!
%html
  %head
    %title CameronTech.io
    %link(href="http://fonts.googleapis.com/css?family=Raleway:400,500,700,900" rel="stylesheet" type="text/css")
    %link(href="/assets/stylesheets/bootstrap.min.css" type="text/css" rel="stylesheet")
  %body
    = yield
    %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    %script(src="/assets/javascripts/bootstrap.min.js")
